<div class="bg-dark-container max-w-[500px] h-auto rounded-[10px] mx-auto mt-9 px-2.5 py-9">
    <h2 class="text-center font-bold text-3xl mb-9">Crear cuenta</h2>
    <form action="" class="flex flex-col gap-6 px-9">
        <label for="name" class="text-base font-semibold flex flex-col">Nombre
            <input 
            type="text" 
            id="name" 
            placeholder="Ingresa tu Nombre"  
            class=" bg-dark-input text-sm w-auto h-10 rounded-[10px] pl-5">
        </label>
        <label for="email" class="text-base font-semibold flex flex-col">Email
            <input 
            type="email" 
            id="email" 
            placeholder="Ingresa tu Email"  
            class=" bg-dark-input text-sm w-auto h-10 rounded-[10px] pl-5">
        </label>
        <label for="password" class=" text-base font-semibold flex flex-col">Contraseña
            <input 
            type="password" 
            id="password" 
            placeholder="Ingresa tu Contraseña" 
            class=" bg-dark-input text-sm h-10 rounded-[10px] pl-5">
        </label>
        <label for="recovery_password" class=" text-base font-semibold flex flex-col">Confirmar contraseña
            <input 
            type="password" 
            id="recovery_password" 
            placeholder="Ingresa tu Contraseña" 
            class=" bg-dark-input text-sm h-10 rounded-[10px] pl-5">
        </label>
        <button type="submit" class="bg-accent w-1/2 h-10 rounded-[10px] mx-auto">
            Crear cuenta
        </button>
        <div class="flex flex-col justify-center items-center w-auto">
            <a routerLink="/login" class="text-accent">Volver a iniciar sesión</a>
        </div>
    </form>
</div>