<nav class="bg-dark-container border-b border-light-grey w-full h-14 px-4 ">
    <div class="flex items-center justify-between h-full">
        <div class="flex gap-x-4 items-center">
            <img src="../../../assets/icons/menu.png" alt="" class="h-10">
            <p class="hidden md:block">Logo</p>
            <button class="bg-accent h-10 px-5 rounded-lg text-lg font-semibold">
                <span class="hidden md:block">Crear</span>
                <span class="md:hidden block">+</span>
            </button>
        </div>
        <div>
            <img src="../../../assets/icons/user.png" alt="" class="h-10">
        </div>
    </div>
</nav>