<div class="bg-dark-container flex flex-col gap-y-1 w-60 h-full px-4 py-2">
        <button class="text-left font-roboto font-semibold text-lg">Claudio Vásquez</button>
        <input 
                type="search" 
                id="search" 
                placeholder="Buscar"  
                class=" bg-dark-input text-sm  w-full h-10 rounded-lg pl-4 truncate"
        >
        <a routerLink="/dashboard/boards" routerLinkActive="bg-selected" class="text-lg rounded-lg h-10 active:bg-selected flex items-center pl-4">Tableros</a>
        <a routerLink="/dashboard/highlights" routerLinkActive="bg-selected" class="text-lg rounded-lg h-10 active:bg-selected flex items-center pl-4">Destacados</a>
</div>

