<div class="max-w-[500px] h-screen flex justify-center items-center mx-auto">
    <div class="bg-dark-container w-full h-auto rounded-[10px] px-2.5 py-9 mx-9">
        <h2 class="text-center font-bold text-3xl mb-9 font-montserrat truncate">Iniciar sesión</h2>
        <form action="" class="flex flex-col px-9 font-roboto" [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="email" class="text-base font-semibold truncate flex flex-col mb-6">
                Email
                <input 
                type="email" 
                id="email" 
                placeholder="Ingresa tu Email"  
                class=" bg-dark-input text-sm w-auto h-10 rounded-[10px] pl-5 truncate outline-none"
                formControlName="email"
                >
                @if (form.get('email')?.touched && form.get('email')?.hasError('email')) {
                    <small class="text-red-400">Ingresa un email válido</small>
                }
                @if (form.get('email')?.touched && form.get('email')?.hasError('required')) {
                    <small class="text-red-400">El email es requerido</small>
                }
            </label>

            <label for="password" class=" text-base font-semibold truncate flex flex-col mb-6">
                Contraseña
                <input 
                type="password" 
                id="password" 
                placeholder="Ingresa tu Contraseña" 
                class=" bg-dark-input text-sm h-10 rounded-[10px] pl-5 truncate outline-none"
                formControlName="password"
                >
                @if (form.get('password')?.touched && form.get('password')?.hasError('minlength')) {
                    <small class="text-red-400">La contraseña debe tener como mínimo 6 carácteres</small>
                }
                @if (form.get('password')?.touched && form.get('password')?.hasError('required')) {
                    <small class="text-red-400">La contraseña es requerida</small>
                }
            </label>
            
            <button class="bg-accent w-1/2 h-10 rounded-[10px] mx-auto mb-6">
                <p class="truncate ">Iniciar sesión</p>
            </button>
            <div class="flex flex-col justify-center items-center truncate">
                <a routerLink="/auth/password-recovery" class="text-accent text-center">Recuperar contraseña</a>
                <p class="text-center">¿No tienes cuenta? <a routerLink="/auth/register" class="text-accent">Crea una</a></p>
            </div>
        </form>
    </div>
</div>








