<nav class="fixed top-0 w-full h-14 px-4 border-b border-light-grey bg-dark-container flex items-center">
    <div class="md:max-w-screen-2xl mx-auto flex items-center w-full justify-between">
        <p>asdf</p>
        <div class="space-x-4 md:block md:w-auto flex items-center justify-between w-full">
            <button class="bg-accent rounded-lg h-10 text-lg font-semibold">Login</button>
            <button class="bg-accent rounded-lg h-10 text-lg font-semibold">register</button>
        </div>
    </div>
</nav>

