<aside class="bg-dark-container border-r border-b border-l border-light-grey max-w-[240px] h-full px-6 py-4 flex flex-col gap-2">
    
        <button class="text-left font-roboto font-semibold text-lg">Claudio Vásquez</button>
        <input 
                type="search" 
                id="search" 
                placeholder="Buscar"  
                class=" bg-dark-input text-sm  w-full h-10 rounded-[10px] pl-5 truncate"
        >
        <a routerLink="/dashboard/boards" routerLinkActive="bg-selected" class="text-lg rounded-[10px] h-10 active:bg-selected flex items-center pl-5">Tableros</a>
        <a routerLink="/dashboard/highlights" routerLinkActive="bg-selected" class="text-lg rounded-[10px] h-10 active:bg-selected flex items-center pl-5">Destacados</a>

</aside>
